<body>
  <!-- Nav bar -->
  <nav class="top-bar topbar-responsive">
    <div class="top-bar-title">
      <a class="topbar-responsive-logo" href="/"><strong>POD | E-Learning</strong></a>
    </div>
    <div id="topbar-responsive" class="topbar-responsive-links">
      <div class="top-bar-right">
        <ul class="menu simple vertical medium-horizontal">
            <li><a href="/">Home</a></li>
          {{!-- <li><a href="instructors">Instructors</a></li>
          <li><a href="students">Students</a></li> --}}
          <!-- <li><a href="#">Account</a></li> -->
          <li>
            <button type="button" a href="#" class="button login-button hollow topbar-responsive-button" data-open="login-Modal" id="LoginIns">Login</button>
            <button type="button" a href="#" class="button login-button hollow topbar-responsive-button hide" id="LogoutIns">LOG OUT</button>          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- hero content -->
    <div class="lessons-hero homepage-hero middle-content-section">
        <div class="hero-content-section roster-hero">
            <h1>Student Roster</h1>
            <p class="subheader">View and management student enrollment.</p>
            <a href="#"><button class="button large hero-button" data-open="student-Modal" id="add_Student">Add New Student</button></a>
            <a href="instructors"><button class="button large hero-button">Back to Portal</button></a>

        </div>
    </div>

    <!-- student roster content -->
    <div class="table-expand">
      <table class="table-expand">
        <thead>
          <tr class="table-expand-row">
            <th width="200">First Name</th>
            <th width="200">Last Name</th>
            <th width="300">Email Address</th>
            <th width="50"></th>
          </tr>
        </thead>
        <tbody id="emptyTable">
          {{!-- {{#each }} --}}
          <tr class="table-expand-row table-row">
            <td></td>
            <td></td>
            <td></td>
            <td><button class="button large hero-button roster-delete">Delete</button></td>
          </tr>
          {{!-- {{/each }} --}}

        </tbody>
        </table>
    </div>
    
    <!-- Login Modal -->
  <div class = "reveal" id="login-Modal" data-reveal>
      <div class="login-box">
        <div class="row collapse expanded">
          <div class="small-12 medium-6 column small-order-2 medium-order-1">
            <div class="login-box-form-section">
              <h1 class="login-box-title">LOG IN</h1>
              <input class="login-box-input" type="email" name="email" placeholder="E-mail" />
              <input class="login-box-input" type="password" name="password" placeholder="Password" />
              <input class="login-box-submit-button button medium" type="submit" name="signin_submit" value="Login" />
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- Add New Student Modal -->
  <div class = "reveal" id="student-Modal" data-reveal>
    <form form data-abide novalidate id="newStu">
      <div class="student-box">
        <div class="row collapse expanded">
          <div class="small-12 medium-6 column small-order-2 medium-order-1">
            <div class="student-modal-form-section">
              <h1 class="student-modal-title">Add New Student</h1>
              <input class="student-first-name" type="text" name="username" placeholder="First Name" id="stuFirst" required/>
              <input class="student-last-name" type="text" name="username" placeholder="Last Name" id= "stuLast" required/>
              <input class="student-email" type="email" name="email" placeholder="E-mail" required pattern="email" id="stuMail"/>
              <input class="student-password" type="password" name="password" placeholder="Password" id="stuPwd"/>
              <input class="student-confirm-password" type="password" name="password2" placeholder="Retype password" data-equalto="stuPwd"/>
              <input class="student-modal-submit-button button medium" type="submit" name="new_student_submit" value="Add Student" id="AddStu" />
            </div>
          </div>
        </div>
      </div>

    </form>
      
  </div>

  <!-- Contact Us Modal -->
  <div class = "reveal" id="contact-Modal" data-reveal>
    <div class="contact-box">
      <div class="row collapse expanded">
        <div class="small-12 medium-6 column small-order-2 medium-order-1 contact-form">
            <div class="contact-box-form-section contact-form">
                <h1 class="contact-box-title">Contact Us</h1>
                <label id="contact-field">Full name *
                    <input type="text" id="contact-field" placeholder="Full name">
                </label>
            </div>
            <div class="contact-form">
              <label id="contact-field">Email *
                <input type="email" id="contact-field" placeholder="Email address">
              </label>
            </div>
            <div class="contact-form">
              <label id="contact-field">Message *
                <textarea id="contact-field" placeholder="Describe your needs" rows="3"></textarea>
              </label>
            <input class="login-box-submit-button button medium" type="submit" name="signin_submit" value="Send Email" />
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- footer -->
    <footer>
        <div class="marketing-site-footer-bottom">
        <div class="row large-unstack align-middle">
            <div class="column">
            <p class="footer-copy">&copy; 2020 All rights reserved</p>
            </div>
            <div class="column">
            <ul class="menu marketing-site-footer-bottom-links footer-copy">
                <li><a href="/">Home</a></li>
                {{!-- <li><a href="instructors">Instructors</a></li>
                <li><a href="students">Students</a></li> --}}
                <!-- <li><a href="#">Account</a></li> -->
                <li><a href="#" data-open="contact-Modal">Contact Us</a></li>
            </ul>
            </div>
        </div>
        </div>
    </footer>

  <script src="../js/vendor/what-input.js"></script>
  <script src="../js/vendor/foundation.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/instructor.js"></script>
</body>