/* nav bar */

.topbar-responsive {
    background: #2c3840;
    padding: 1rem 1.5rem;
  }
  
  .topbar-responsive .topbar-responsive-logo {
    color: #fefefe;
    vertical-align: middle;
  }
  
  .topbar-responsive .menu {
    background: #2c3840;
  }
  
  .topbar-responsive .menu li:last-of-type {
    margin-right: 0;
  }
  
  .topbar-responsive .menu a {
    color: #fefefe;
    transition: color 0.15s ease-in;
  }
  
  .topbar-responsive .menu a:hover {
    color: #c6d1d8;
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu a {
      padding: 0.875rem 0;
    }
  }
  
  .topbar-responsive .menu .topbar-responsive-button {
    color: #fefefe;
    border-color: #fefefe;
    border-radius: 5000px;
    transition: color 0.15s ease-in, border-color 0.15s ease-in;
  }
  
  .topbar-responsive .menu .topbar-responsive-button:hover {
    color: #c6d1d8;
    border-color: #c6d1d8;
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu .topbar-responsive-button {
      width: 100%;
      margin: 0.875rem 0;
    }
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive {
      padding: 0.75rem;
    }
    .topbar-responsive .top-bar-title {
      position: relative;
      width: 100%;
    }
    .topbar-responsive .top-bar-title span {
      position: absolute;
      right: 0;
      border: 1px solid #fefefe;
      border-radius: 5px;
      padding: 0.25rem 0.45rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    .topbar-responsive .top-bar-title span .menu-icon {
      margin-bottom: 4px;
    }
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  
  @keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive-links {
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      width: 100%;
      -webkit-animation: fadeIn 1s ease-in;
              animation: fadeIn 1s ease-in;
    }
  }
  
  
  h1 {
      font-size: 40px;
    }
  
  /* //hero */
  
  .middle-content-section {
    background-image: url('img/deleece-cook-zzjLGF_6dx4-unsplash.jpg') top right no-repeat;
    height: 65vh;
    background-size: cover;
    display: flex;
    align-items: center;
    background-color: aqua;
  
/*   
      @media screen and (min-width: 40em) {
          background-position: center;
      } */
  }
  
  .hero-content-section {
    max-width: inherit;
    margin: 0 auto;
    padding-right: 50%;
    color: white;
  }

  .bottom-content-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
  
      @media screen and (min-width: 40em) {
      padding-left: 0%;
      }
  }
  
  
  /* //three sections */
  
  
  .marketing-site-three-up {
    text-align: center;
    padding: 2rem 0;
  }
  
  .row {
      display: flex;
      flex-direction: row;
      justify-content: center;  
      max-width: inherit;
  
  }
  
  .columns {
      margin-bottom: 1rem;
  
      @media screen and (min-width: 40em) {
          margin-bottom: 0;
      }
  }
  
  .fa {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: teal;
  }
  
  
  .marketing-site-three-up-headline {
    margin-bottom: 2rem;
    font-size: 24px;
  }

  /* Instructor Courses page styling */
.basic-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr; */
  /* margin: 1px; */
  width: 20%;
  padding: 0;
}

.basic-card > :last-child {
  margin-bottom: 0;
}

.basic-card-image img {
  width: 100%;
}

.basic-card-content {
  border: 0;
  margin: 0;
  overflow: scroll;
}

.courses-row {
  margin-top: 30px;
}

/* student portal pop-up email form */
@charset "UTF-8";

.contact-panel-button {
  background: #0a0a0a;
  color: #fefefe;
  width: auto;
  padding: 0.25rem 1.25rem;
  text-align: center;
  position: absolute;
  top: -30px;
  right: 20px;
  transition: background 0.25s ease-in-out;
}

.contact-panel-button:after {
  content: "тег";
  margin-left: 5px;
}

.contact-panel-button:hover {
  background: #242424;
  color: #f0f0f0;
}

.is-active .contact-panel-button:after {
  content: "тее";
}

.contact-panel {
  padding: 1rem;
  z-index: 1;
  background: #0a0a0a;
  width: 350px;
  height: 375px;
  position: fixed;
  bottom: -375px;
  right: 20px;
  transition: bottom 0.5s ease-in-out;
}

.contact-panel label {
  color: #fefefe;
  width: 100%;
}

.contact-panel input[type="text"],
.contact-panel input[type="email"],
.contact-panel textarea {
  background: #303030;
  border: #0a0a0a;
  transition: background 0.3s ease-in-out;
}

.contact-panel input[type="text"]:focus,
.contact-panel input[type="email"]:focus,
.contact-panel textarea:focus {
  background: #fefefe;
}

.contact-panel .contact-panel-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-panel .submit-button {
  margin-bottom: 0;
}

.contact-panel .cancel-button {
  margin-bottom: 0;
  padding: 0.75rem 1rem;
  color: #fefefe;
  transition: background 0.25s ease-in-out;
}

.contact-panel .cancel-button:hover {
  background: #242424;
  color: #f0f0f0;
}

.contact-panel.is-active {
  bottom: 0;
}

@media screen and (max-width: 39.9375em) {
  .contact-panel {
    width: 100%;
    right: 0;
  }
}




  
  